{% extends '::base.html.twig' %} {% block body %}

<h1 class="page-header">Jobs</h1>

<table class="table table-condensed">
	<tr>
		<th>Id</th>
		<th>Submitted</th>
		<th>Input</th>
		<th>State</th>
		<th>Progress</th>
		<th>Actions</th>
	</tr>
	{% for job in jobs %}
	<tr>
		<td><a href="api/v1/jobs/{{ job.id }}"> {{ job.id }} </a></td>
		<td>{{ job.submittedAt|date('Y-m-d H:i:s') }}</td>
		<td><a href="{{ job.input }}">{{ job.input }}</a></td>
		<td>{{ job.state }}</td>
		<td>{{ job.progress }}</td>
		<td><a href="#" onClick="$.ajax({
		    url: 'api/v1/jobs/{{ job.id }}.json',
		    contentType: 'application/json',
		    type: 'DELETE',
		    success: function(result) {
		        return false;
		    }
		});">Delete</a></td>
	</tr>
	{% endfor %}
</table>

<table class="table table-condensed">
	<tr>
		<th>Id</th>
		<th>Height</th>
		<th>Width</th>
		<th>Current Event</th>
		<th>Current Event Progress</th>
		<th>Url</th>
	</tr>
	{% for output in outputs %}
	<tr>
		<td><a href="api/v1/outputs/{{ output.id }}"> {{ output.id }} </a></td>
		<td>{{ output.height }}</td>
		<td>{{ output.width }}</td>
		<td>{{ output.currentEvent  }}</td>
		<td>{{ output.currentEventProgress }}</td>
		<td><a href="{{ output.url }}">{{ output.url }}</a></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
