<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Encoder and upload: {{ output.url }}</h3>
	</div>
	<div class="panel-body">
		<table class="table table-condensed table-no-border"
			style="border: none;">
			<thead>
				<tr>
					<th>Filesize</th>
					<th>Duration</th>
					<th>Dimensions</th>
					<th>Format</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ output.mediaFile is null ? "..." : output.mediaFile.filesize
						}}</td>
					<td>{{ output.mediaFile is null ? "..." : output.mediaFile.duration
						}}</td>
					<td>{{ output.mediaFile is null ? "..." : output.mediaFile.width }}</td>
					<td>{{ output.mediaFile is null ? "..." : output.mediaFile.format
						}}</td>
				</tr>
			</tbody>
		</table>
		<div class="progress" style="margin: 0px;">
			<div class="progress-bar progress-info progress-bar-striped active"
				role="progressbar" aria-valuenow="45" aria-valuemin="0"
				aria-valuemax="100"
				style="width: {{ output.currentEventProgress }}%">{{
				output.currentEventProgress }}%</div>
			{{ output.currentEvent }}
		</div>
	</div>
</div>