<div class="panel {{ output.errorMessage is null ? "panel-info" : "panel-danger"}} ">
	<div class="panel-heading">
		<h3 class="panel-title">Output {%  if output.errorType is null %}<a href="/{{ output.url }}">{{ output.url }}</a>{% else %} {{ output.errorType }} {% endif %}</h3>
	</div>
	<div class="panel-body">
		<table class="table table-condensed table-no-border"
			style="border: none;">
			<thead>
				<tr>
					<th>Filesize</th>
					<th>Duration</th>
					<th>Dimensions</th>
					<th>Format</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ output.mediaFile is null ? "..." : output.mediaFile.filesize
						}}</td>
					<td>{{ output.mediaFile is null ? "..." : output.mediaFile.duration
						}}</td>
					<td>{{ output.mediaFile is null ? "..." : output.mediaFile.width }}</td>
					<td>{{ output.mediaFile is null ? "..." : output.mediaFile.format
						}}</td>
				</tr>
			</tbody>
		</table>
		{% if output.errorMessage %}
		  {{ output.errorMessage }}
		{% else %}
				<div class="progress" style="margin: 0px;">
			<div class="progress-bar progress-info progress-bar-striped {% if output.currentEventProgress < 100 %}active{% endif %}"
				role="progressbar" aria-valuenow="{{ output.currentEventProgress|number_format }}" aria-valuemin="0"
				aria-valuemax="100" style="width: {{ output.currentEventProgress|number_format }}%">{{ output.currentEventProgress|number_format }}%</div>
		</div>
		{% endif %}
	</div>
</div>